<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects_kidscare">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launchericon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.projects_kidscare.Design.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.projects_kidscare.Design.Activity_Splash"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.projects_kidscare.Design.RegistrationActivity"
            android:parentActivityName="com.projects_kidscare.Design.DashboardActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.IdealTableActivity"
            android:parentActivityName="com.projects_kidscare.Design.IdealTableActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.MainActivity"
            android:parentActivityName="com.projects_kidscare.Design.DashboardActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.projects_kidscare.Design.AddHWActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.AddMedicineActivity"
            android:parentActivityName="com.projects_kidscare.Design.AddMedicineActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.AddVaccineActivity"
            android:parentActivityName="com.projects_kidscare.Design.AddVaccineActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.AddMedicineDosesActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.projects_kidscare.Design.GraphActivity"
            android:parentActivityName="com.projects_kidscare.Design.GraphActivity" />

        <service
            android:name="com.projects_kidscare.Service.MyServiceDemo"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.projects_kidscare.Design.MedicineDoseActivity"
            android:label="@string/title_activity_add_medicine_dose_new"
            android:parentActivityName="com.projects_kidscare.Design.MedicineDoseActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.projects_kidscare.Design.DeveloperActivity" />
        <activity
            android:name="com.projects_kidscare.kidscare.Design.ExpandableListViewActivity"
            android:parentActivityName="com.projects_kidscare.kidscare.Design.ExpandableListViewActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.projects_kidscare.Design.VaccineDetailActivity"></activity>
    </application>

</manifest>